.checkoutWrapp {
  display: flex;
  align-items: center;
  justify-content: center;

  .checkoutWrapper {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    padding: 0 5rem 5rem 5rem;
    width: 100%;

    .stepWrap {
      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4.5rem 0;

        li {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          svg {
            width: 1.5rem;
            height: 1.5rem;
            color: #99a0ad;
          }

          div {
            display: flex;
            flex-direction: column;
            p {
              color: #99a0ad;
              font-size: 0.875rem;
              line-height: normal;
            }

            span {
              color: #99a0ad;
              line-height: normal;
              font-size: 1.1875rem;
            }
          }

          &.active {
            svg {
              color: #002855;
            }

            div {
              p {
                color: #002855;
              }
              span {
                color: #002855;
              }
            }
          }
        }
      }

      .contentWrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 8.75rem;

        .content {
          display: flex;
          flex-direction: column;
          gap: 2rem;

          span {
            font-size: 1.25rem;
            font-weight: 600;
          }

          .addressWrap {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            padding: 1.5rem;
            border-radius: 0.5rem;
            background: #f9f9f9;

            svg {
              width: 1.5rem;
              height: 1.5rem;
            }

            .addrWrap {
              display: flex;
              width: 100%;
              align-items: center;
              justify-content: space-between;

              .address {
                p {
                  color: #090909;
                }
              }

              .functionWrap {
                display: flex;
                align-items: center;
                gap: 3.125rem;

                span {
                  display: flex;
                  color: #fff;
                  padding: 0.25rem 0.5rem;
                  background: #556177;
                  font-size: 0.875rem;
                  font-weight: 500;
                  border-radius: 0.25rem;
                }

                .function {
                  display: flex;
                  align-items: center;
                  gap: 1.5rem;

                  svg {
                    cursor: pointer;
                    width: 1.5rem;
                    height: 1.5rem;
                    color: #001845;
                  }
                }
              }
            }
          }

          .addAddressWrap {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            cursor: pointer;

            span {
              color: #001845;
              font-size: 1rem;
              font-weight: 400;
            }
          }

          ul {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .shipmentWrapper {
              display: flex;
              width: 100%;
              align-items: center;
              justify-content: space-between;
              gap: 1rem;
              padding: 1.5rem;
              border-radius: 0.5rem;
              border: 1px solid #d1d1d8;
              cursor: pointer;

              svg {
                width: 1.5rem;
                height: 1.5rem;
              }

              .shipmentWrap {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;

                .shipment {
                  display: flex;
                  gap: 1rem;

                  p {
                    font-weight: 600;
                    color: #99a0ad;
                  }
                }

                .shipmentDate {
                  span {
                    font-size: 1rem;
                    font-weight: 600;
                    color: #99a0ad;
                  }

                  div {
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    gap: 0.5rem;
                    color: #99a0ad;

                    span {
                      position: relative;
                      display: flex;
                      align-items: center;
                      justify-content: center;

                      svg {
                        color: #99a0ad;
                        width: 1rem;
                        height: 1rem;
                      }

                      input {
                        position: absolute;
                        top: 0;
                        right: 0;
                        opacity: 0;
                      }
                    }
                  }
                }
              }
              .active {
                .shipment {
                  p {
                    color: #17183b;
                  }
                }

                .shipmentDate {
                  span {
                    color: #17183b;
                  }

                  div {
                    color: #17183b;

                    span {
                      svg {
                        color: #17183b;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .summaryContentWrap {
          display: flex;
          width: 100%;
          align-items: flex-start;
          gap: 5rem;

          .summaryContent {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            border: 1px solid #ebebeb;
            padding: 2rem 1.5rem;
            border-radius: 0.625rem;
            width: 50%;

            span {
              font-size: 1.25rem;
              font-weight: 600;
            }

            ul {
              width: 100%;
              display: flex;
              flex-direction: column;
              gap: 1rem;

              .summaryWrapper {
                display: flex;
                align-items: center;
                gap: 1rem;
                padding: 1rem 2rem 1rem 1rem;
                border-radius: 0.75rem;
                background: #f6f6f6;

                .productInfo {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  gap: 1rem;
                  width: 100%;

                  p {
                    font-weight: 700;
                  }
                }
              }
            }

            .summaryAddrWrap {
              display: flex;
              flex-direction: column;
              gap: 1.5rem;

              .summaryAddr {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                span {
                  font-size: 1rem;
                  font-weight: 600;
                  color: #545454;
                }

                p {
                  font-size: 1.125rem;
                  font-weight: 600;
                }
              }

              .summaryShipment {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                span {
                  font-size: 1rem;
                  font-weight: 600;
                  color: #545454;
                }

                p {
                  font-size: 1.125rem;
                  font-weight: 600;
                }
              }

              .summaryPricing {
                display: flex;
                flex-direction: column;
                gap: 1.25rem;

                span {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  gap: 1rem;
                  width: 100%;

                  p {
                    font-weight: 600;
                    color: #000;
                  }
                }

                div {
                  display: flex;
                  flex-direction: column;
                  gap: 0.5rem;

                  span {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;
                    gap: 1rem;

                    p {
                      font-weight: 500;
                      color: #545454;
                    }
                  }
                }
              }
            }
          }

          .paymentWrap {
            display: flex;
            flex-direction: column;
            width: max-content;
            gap: 2.5rem;

            .paymentHeaderWrap {
              display: flex;
              flex-direction: column;
              gap: 1.5rem;

              span {
                font-weight: 700;
                font-size: 1.25rem;
              }

              .paymentHeader {
                display: flex;
                gap: 3.5rem;

                li {
                  cursor: pointer;
                  padding: 0.5rem 0;
                  font-weight: 600;
                  white-space: nowrap;

                  &:first-child {
                    border-bottom: 1px solid #001845;
                  }
                }
              }
            }

            .creditCard {
              background: linear-gradient(180deg, #9a9a9a 0%, #5a5a5a 100%);
              width: 21.25rem;
              height: 12.5rem;
              border-radius: 0.625rem;
              padding: 1.25rem;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              position: relative;

              &::after {
                content: "";
                position: absolute;
                top: -25%;
                left: -35%;
                border-radius: 100%;
                width: 19.6875rem;
                height: 19.6875rem;
                background: #ffffff0d;
              }

              .creditCardHeader {
                display: flex;
                width: 100%;
                justify-content: space-between;
              }

              .creditCardInfo {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                span {
                  font-size: 1.5rem;
                  font-weight: 600;
                  color: #fff;
                }

                div {
                  display: flex;
                  width: 100%;
                  justify-content: space-between;

                  span {
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: #fff;
                  }
                }
              }
            }

            form {
              display: flex;
              flex-direction: column;
              gap: 1rem;

              .inputWrap {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                input {
                  background: none;
                  width: 100%;
                  padding: 0.75rem 1rem;
                  font-size: 1rem;
                  color: #979797;
                  border-radius: 0.5rem;
                  border: 1px solid #cecece;

                  &::-webkit-outer-spin-button,
                  &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                  }

                  &[type="number"] {
                    appearance: textfield;
                  }

                  &:focus {
                    border: 1px solid #001845;
                  }
                }

                span {
                  display: flex;
                  gap: 1rem;
                }
              }

              span {
                display: flex;
                gap: 0.5rem;
                align-items: center;

                svg {
                  width: 1.5rem;
                  height: 1.5rem;
                  color: #001845;
                }

                p {
                  font-size: 1rem;
                  font-weight: 600;
                }
              }
            }
          }
        }

        .stepsCta {
          display: flex;
          align-self: flex-end;
          gap: 1.5rem;

          button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 12.5rem;
            height: 4rem;
            border-radius: 0.5rem;
            cursor: pointer;
            font-size: 1.25rem;
          }

          .back {
            border: 1px solid #00143a;
            background: none;
          }

          .next {
            background: #00143a;
            border: none;
            color: #fff;
          }
        }

        .verifyWrap {
          padding: 4.75rem 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .verifyContent {
            gap: 1.75rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 0 15rem;

            svg {
              width: 8.75rem;
              height: 8.75rem;
              color: #192180b2;
            }

            div {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              gap: 1.75rem;

              span {
                text-align: center;
                font-size: 2.25rem;
                font-weight: 500;
                color: #272727;
              }

              p {
                font-size: 1.25rem;
                font-weight: 400;
                text-align: center;
                color: #001845;
              }
            }

            p {
              font-size: 1.25rem;
              text-align: center;
              font-weight: 400;
              color: #818181;
            }

            button {
              background: #001845;
              border: none;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 21.5625rem;
              height: 3.5rem;
              font-size: 1.25rem;
              color: #fff;
              font-weight: 500;
              border-radius: 0.5rem;
              cursor: pointer;
            }

            .receipt {
              cursor: pointer;
              font-size: 1.125rem;
              color: #001845;
              font-weight: 400;
              border-bottom: 1px solid #001845;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .checkoutWrapp {
    .checkoutWrapper {
      padding: 0 1rem 3.125rem 1rem;

      .stepWrap {
        .header {
          padding: 2rem 2rem 2rem 0;

          li:last-child {
            display: none;
          }
        }

        .contentWrap {
          gap: 2rem;
          .content {
            .addressWrap {
              align-items: flex-start;

              .addrWrap {
                flex-direction: column-reverse;
                align-items: flex-start;
                gap: 0.5rem;

                .address {
                  display: flex;
                  flex-direction: column;
                  gap: 0.5rem;
                }
                .functionWrap {
                  width: 100%;
                  justify-content: space-between;
                }
              }
            }

            ul {
              .shipmentWrapper {
                align-items: flex-start;
                .shipmentWrap {
                  flex-direction: column;
                  align-items: flex-start;
                  gap: 0.5rem;

                  .shipment {
                    flex-direction: row-reverse;
                    width: 100%;
                    justify-content: space-between;
                  }

                  .shipmentDate {
                    width: 100%;

                    div {
                      border-radius: 0.25rem;
                      padding: 0.25rem 0.5rem;
                      border: 1px solid #d1d1d8;
                      width: 100%;
                      justify-content: space-between;
                    }
                  }
                }
              }
            }
          }

          .summaryContentWrap {
            flex-direction: column;
            gap: 2.5rem;

            .summaryContent {
              width: 100%;
              padding: 0;
              border: none;

              ul {
                .summaryWrapper {
                  .productInfo {
                    gap: 1rem;

                    span {
                      font-size: 1rem;
                    }
                  }
                }
              }

              .summaryAddrWrap {
                .summaryPricing {
                  .total {
                    padding: 1rem 0;
                    border-top: 1px solid #e5e5e5;
                    border-bottom: 1px solid #e5e5e5;
                  }
                }
              }
            }

            .paymentWrap {
              width: 100%;
              .creditCard {
                align-self: center;
              }
              form {
                .inputWrap {
                  width: unset;
                }
              }
            }
          }

          .stepsCta {
            width: 100%;
            justify-content: space-between;
            gap: 1.25rem;
            align-self: center;

            button {
              width: 100%;
              height: 3.5rem;
              padding: 0;
            }
          }

          .verifyWrap {
            padding: 2rem 0;

            .verifyContent {
              padding: 0;

              div {
                gap: 0.875rem;
                span {
                  font-size: 1.625rem;
                }

                p {
                  font-size: 1rem;
                }
              }

              p {
                font-size: 1rem;
              }

              button {
                font-size: 1.25rem;
              }
            }
          }
        }
      }
    }
  }
}
